{% extends 'base.html.twig' %}

{% block title %}Hello VoyageFormController!{% endblock %}

{% block body %}
<h1>Mon voyage</h1>
<a href="example.com">Activité</a>
<a href="example.com">Restauration</a>
<a href="example.com">Hébergement</a>
<a href="example.com">Destination</a>
    {{ form_start(VoyageForm) }}

       {{ form_row(VoyageForm.name)}}
       {{ form_row(VoyageForm.main_picture)}}
       {{ form_row(VoyageForm.transport)}}
       {{ form_row(VoyageForm.weather_report)}}
       {{ form_row(VoyageForm.price)}}
       {{ form_row(VoyageForm.equipment)}}
       {{ form_row(VoyageForm.description)}}
       {{ form_row(VoyageForm.advice)}}
        <button> {{button_label|default('Valider')}}</button>
        {{ form_end(VoyageForm) }}

{% endblock %}
