{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}

<a href="{{path('surveyquestion1') }}" class="previous_question"> &#60  Retour</a>

<section class="container_survey">
        {{ form_start(form) }}
        <p class="question_number">Question 2 sur 10</p>
        <h1 class="Big_question">Chaud ou froid ?</h1>
        <p class="small_question">Quel est le climat ideal pour votre voyage ?</p>
        {{ form_row(form._token) }}

            <div class="range_global">
                <div class="range_container">
                {{ form_widget(form.temperature)}}
                </div>
                <div class="range_text range_images">
                    <img src="/style/images/neige.png" alt="neige"/>
                    <img src="/style/images/orage.png" alt="tropical"/>
                    <img src="/style/images/nuage.png" alt="nuageux"/>
                    <img src="/style/images/soleil.png" alt="ensoleillé"/>
                </div>
            </div>
        <div class="question_button_center">
        <button class="question_button">{{ button_label|default('Suivant')}} </button>
        </div>
        <a href="{{path('home') }}" class="plus_tard">Plus tard</a>
        {{ form_end(form, {'render_rest': false} )}}
</section>
{% endblock %}