{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
<a href="{{path('surveyquestion8') }}" class="previous_question"> &#60  Retour</a>

<section class="container_survey">
        {{ form_start(form) }}
        <p class="question_number">Question 9 sur 10</p>
        <h1 class="Big_question">Confort</h1>
        <p class="small_question">Quel est type votre type de confort ?</p>
        {{ form_row(form._token) }}

            <div class="range_global">
                <div class="range_container">
                {{ form_widget(form.comfort)}}
                </div>
                <div class="range_text">
                    <p>Koh Lanta</p>
                    <p>camping</p>
                    <p>auberge</p>
                    <p>hôtel</p>
                    <p>appartement</p>
                    <p>chateaux</p>
                </div>
            </div>
        <div class="question_button_center">
        <button class="question_button">{{ button_label|default('Suivant')}} </button>
        </div>
        <a href="{{path('home') }}" class="plus_tard">Plus tard</a>
        {{ form_end(form, {'render_rest': false} )}}
</section>
{% endblock %}