{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
<a href="{{path('surveyquestion4') }}" class="previous_question"> &#60  Retour</a>

<section class="container_survey">
        {{ form_start(form) }}
        <p class="question_number">Question 5 sur 10</p>
        <h1 class="Big_question">Zone géographique</h1>
        <p class="small_question">Dans quelle(s) zone(s) géographique(s) souhaitez vous voyager ?</p>
        {{ form_row(form._token) }}

            <div class="range_global">
                <div class="box_container">
                {{ form_widget(form.geographical_area)}}
                </div>
            </div>
        <div class="question_button_center">
        <button class="question_button">{{ button_label|default('Suivant')}} </button>
        </div>
        <a href="{{path('home') }}" class="plus_tard">Plus tard</a>
        {{ form_end(form, {'render_rest': false} )}}
</section>
{% endblock %}