{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
<section class="container_survey">
    {{ form_start(form) }}
        <p class="question_number">Question 1 sur 10</p>
        <h1 class="Big_question">Votre Budget</h1>
        <p class="small_question">Quel est votre budget voyage ?</p>
        {{ form_row(form._token) }}
        
        <div class="range_global">
            <div class="range_container">
            {{ form_widget(form.budget)}}
            </div>
            <div class="range_text">
                <p>200 €</p>
                <p>500 €</p>
                <p>1000 €</p>
                <p>5000 €</p>
                <p>10000 €</p>
                <p>illimité</p>
            </div>
        </div>

        <button class="question_button">{{ button_label|default('Suivant')}} </button>
        <a href="{{path('home') }}" class="plus_tard">Plus tard</a>
    {{ form_end(form, {'render_rest': false} )}} {# a supprimer si conflit avec form_row #}
</section>
{% endblock %}
