{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="bacground_subscription">

    {{ form_start(registrationForm) }}
    <h1 class="title_subscription">Inscription</h1>
        <div class="global_two_question_subscription">
            {# {{ form_row(registrationForm.firstname) }} #}
            {{ form_widget(registrationForm.firstname)}}
            {# {{ form_row(registrationForm.lastname) }} #}
            {{ form_widget(registrationForm.lastname) }}
        </div>
        {# {{ form_row(registrationForm.email) }} #}
        {{ form_widget(registrationForm.email) }}
        {# {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }} #}
        {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="global_two_question_subscription2">
            <p>CGU {{ form_widget(registrationForm.CGU) }}</p>
            <p>Newsletter {{ form_widget(registrationForm.newsletter) }}</p>
        </div>
        <button type="submit" class="btn btn_subscrition">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </section>
{% endblock %}
