{% extends 'base.html.twig' %}

{% block title %}Hello AccommodationFormController!{% endblock %}

{% block body %}
<body>
<header>
<h1>Hebergement</h1>
</header>
<div class="crea_contenu">
     <a href="{{ path('activity_form') }}">Activité</a>
   <a href="{{ path('restaurant_form') }}">Restauration</a>
   <a href="{{ path('accommodation_form') }}" class="active">Hébergement</a>
   <a href="{{ path('voyage_form') }}">Destination</a>
</div>
    {{ form_start(AccommodationForm) }}
    <div class="global_form_voyage">
        <div class="css_form">
            <div class="css_form2">
                <h3>Nom de l'hebergement</h3>
                {{ form_widget(AccommodationForm.name)}}
            </div>
        </div>


         <div class="css_form">
            <div class="css_form2">
             <h3>Photo de couverture</h3>
             <p>Veuillez joindre des photos de l'hebergement</p>
                {{ form_row(AccommodationForm.main_picture)}}
            </div>
        </div>
            
     
        
        <div class="css_form">
        <div class="css_form2">
            <h3>Prix</h3>
            <p>Veuillez indiquer un prix approximatif de votre activité</p>
            {{ form_widget(AccommodationForm.price) }}
        </div>
        </div>



        <div class="css_form">
        <div class="css_form2">
            <h3>Réservation</h3>
            <p>Faut-il réserver à l’avance ?</p>
            {{ form_widget(AccommodationForm.reservation) }}
        </div>
        </div>


        <div class="css_form">
            <div class="css_form2">

            <h3>Ambiance</h3>
            <p>Quel est l’ambiance du lieu ?</p>
            {{ form_widget(AccommodationForm.atmosphere) }}

            </div>
        </div>

        <div class="css_form">
        <div class="css_form2">
                <h3>Où se situe cette activité ?</h3>
                <h3>Pays</h3>
                {{ form_widget(AccommodationForm.country) }}
        </div>
        </div>


        <div class="css_form">
        <div class="css_form2">
                <h3>Ville</h3>
                {{ form_widget(AccommodationForm.city) }}
        </div>
        </div>

        <div class="css_form">
        <div class="css_form2">
                <h3>Code Postale</h3>
                {{ form_widget(AccommodationForm.postal_code) }}
        </div>
        </div>

        <div class="css_form">
        <div class="css_form2">
                <h3>Adresse</h3>
                {{ form_widget(AccommodationForm.address_1) }}

        </div>
        </div>

        <div class="css_form">
        <div class="css_form2">
                <h3>Calendrier</h3>
                <p>Quand avez-vous visitez ce lieu ?</p>
                {{ form_widget(AccommodationForm.calendar) }}
        </div>
        </div>        


    <div class="description_conseil">
        <h3>Description</h3>
        <p>Décrivez en quelques lignes l’activité</p>
        {{ form_widget(AccommodationForm.description) }}
        <h3>Points Forts</h3>
        <p>Décrivez en quelques lignes les points fort de l’activité</p>
        {{ form_widget(AccommodationForm.strong_point) }}
        <h3>Points Faibles</h3>
        <p>Décrivez en quelques lignes les points faible de l’activité</p>
        {{ form_widget(AccommodationForm.weak_point) }}
    </div>
    <br>
    <div class="description_conseil2">
            <button> {{button_label|default('Valider')}}</button>
        </div>
    {{ form_end(AccommodationForm) }}
</div>
    </body>
{% endblock %}