{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
<body>


    <header style="background-image: url('/uploads/{{Activity.mainPicture}}')" id="header-activites">
        <div class="container-fluid">

            <div class="fond-nav">
                <!-- FOND NAV -->
                <div class="col-lg-10 offset-lg-1">
                    <!-- container header -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent float-right pt-4">
                        <!-- BARRE NAV -->

                        <a href="index.html">
                            <!--LOGO-->
                            <img src="img/logo.svg" alt="" width="70">
                        </a>

                        <!-- <a class="navbar-brand" href="#"></a> -->

                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                        <div class="col-lg-9 offset-lg-1">

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active text-white me-5" aria-current="page"
                                            href="accueildestination.html">Destination</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white me-5" href="accueilactivites.html">Activités</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white me-5" href="maps.html">Maps</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <a href="backpack.html">
                            <!-- LOGO BACKPACK -->

                            <svg class="backpack me-5" width="33" height="32" viewBox="0 0 33 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.4989 16.9062H10.5632C10.1056 16.9062 9.73438 17.2774 9.73438 17.7351V23.8226C9.7353 24.626 10.0549 25.3963 10.6229 25.9643C11.1912 26.5323 11.9612 26.8519 12.7647 26.8529H20.2973C21.1007 26.852 21.8709 26.5323 22.4391 25.9643C23.0071 25.3963 23.3267 24.626 23.3277 23.8226V17.7286C23.324 17.2735 22.9541 16.9062 22.4989 16.9062ZM21.6701 23.8226C21.6691 24.1863 21.5241 24.5348 21.267 24.792C21.0098 25.0494 20.6613 25.1942 20.2975 25.1951H12.7649C12.4011 25.1942 12.0526 25.0494 11.7954 24.792C11.5382 24.5349 11.3932 24.1864 11.3923 23.8226V18.5642H21.6702L21.6701 23.8226Z"
                                    fill="#FFFFFF" stroke="#FFFFFF" />
                                <path
                                    d="M27.3978 16.3607H26.9204V13.7613C26.92 12.3383 26.3647 10.9717 25.3721 9.95182H26.5888C27.1307 9.95182 27.6501 9.73674 28.0331 9.35374C28.4161 8.97073 28.6312 8.45134 28.6312 7.90944V5.03179C28.6312 4.49016 28.4161 3.97048 28.0331 3.58749C27.6501 3.20449 27.1307 2.9894 26.5888 2.9894H22.166V1.82887C22.166 1.37118 21.7951 1 21.3372 1C20.8795 1 20.5083 1.37118 20.5083 1.82887V2.9894H12.5512V1.82887C12.5512 1.37118 12.18 1 11.7223 1C11.2644 1 10.8934 1.37118 10.8934 1.82887V2.9894H6.47066C5.92879 2.9894 5.40935 3.20448 5.02635 3.58749C4.64336 3.97049 4.42827 4.49012 4.42827 5.03179V7.90967V7.90944C4.42827 8.4513 4.64335 8.97075 5.02635 9.35374C5.40936 9.73674 5.92875 9.95183 6.47066 9.95183H7.57796C6.58534 10.9718 6.02988 12.3383 6.02964 13.7613V16.3605L5.58861 16.3607C3.06572 16.3607 1 18.5423 1 21.2245V26.0287C1.00093 26.6887 1.26341 27.3215 1.73035 27.7882C2.19705 28.2551 2.82978 28.5176 3.49009 28.5186H6.05278C6.12354 29.0676 6.39182 29.5722 6.80716 29.9383C7.22252 30.3044 7.75699 30.5068 8.31067 30.5079H24.6429C25.1968 30.5074 25.7315 30.3053 26.1471 29.9392C26.5627 29.5729 26.8307 29.068 26.9007 28.5185H29.5099C30.1702 28.5176 30.8029 28.2551 31.2696 27.7882C31.7363 27.3215 31.9991 26.6888 32 26.0287V21.2245C32 18.5422 29.9343 16.3607 27.398 16.3607L27.3978 16.3607ZM27.3978 18.0185C29.0224 18.0185 30.3418 19.4574 30.3418 21.2245V22.2192H27.1922L27.1924 18.0185H27.3978ZM26.5888 4.64707C26.8013 4.64707 26.9734 4.81914 26.9734 5.03167V7.90956V7.90933C26.9734 8.12186 26.8013 8.29393 26.5888 8.29393H22.166V4.64703L26.5888 4.64707ZM20.5084 4.64707V8.29397H12.5513V4.64707H20.5084ZM6.08615 7.90938V5.03173C6.08615 4.81919 6.25821 4.64713 6.47075 4.64713H10.8935V8.29402H6.47075C6.25822 8.29402 6.08615 8.12196 6.08615 7.90942V7.90938ZM5.58869 18.0186H5.79429V22.2194H2.6578V21.2247C2.6578 19.4575 3.98067 18.0186 5.58868 18.0186H5.58869ZM3.49018 26.8608C3.03042 26.8608 2.65782 26.4883 2.65782 26.0287V23.877H5.80745V26.8608L3.49018 26.8608ZM25.2628 28.2302H25.2625C25.2625 28.3946 25.1973 28.5523 25.081 28.6684C24.9646 28.7848 24.8069 28.8502 24.6425 28.8502H8.31025C7.96774 28.8502 7.6902 28.5725 7.6902 28.2302V13.7611C7.69158 12.8559 8.01421 11.9803 8.60071 11.2907C9.1872 10.6008 9.99966 10.1417 10.8931 9.99484V13.1015C10.8931 13.5592 11.264 13.9304 11.7219 13.9304C12.1796 13.9304 12.5508 13.5592 12.5508 13.1015V9.95162H20.5079V13.1015C20.5079 13.5592 20.8791 13.9304 21.3368 13.9304C21.7947 13.9304 22.1657 13.5592 22.1657 13.1015V10.0113C23.0366 10.1806 23.8216 10.647 24.3865 11.3309C24.9513 12.015 25.261 12.8741 25.2624 13.7611L25.2628 28.2302ZM29.5095 26.8608H27.1887V23.877H30.3384V26.0288C30.3384 26.4869 29.9679 26.859 29.5095 26.8609V26.8608Z"
                                    fill="#FFFFFF" stroke="#FFFFFF" />
                            </svg>
                        </a>


                        <!-- BOUTON BURGER PROFIL -->


                        <button type="button" class="btn btn-light">
                            <svg width="18" height="14" viewBox="0 0 24 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <!-- MENU BUGER -->
                                <path
                                    d="M22.11 6.6H0.99C0.0791999 6.6 0 7.33755 0 8.25C0 9.16245 0.0791999 9.9 0.99 9.9H22.11C23.0208 9.9 23.1 9.16245 23.1 8.25C23.1 7.33755 23.0208 6.6 22.11 6.6ZM22.11 13.2H0.99C0.0791999 13.2 0 13.9375 0 14.85C0 15.7624 0.0791999 16.5 0.99 16.5H22.11C23.0208 16.5 23.1 15.7624 23.1 14.85C23.1 13.9375 23.0208 13.2 22.11 13.2ZM0.99 3.3H22.11C23.0208 3.3 23.1 2.56245 23.1 1.65C23.1 0.73755 23.0208 0 22.11 0H0.99C0.0791999 0 0 0.73755 0 1.65C0 2.56245 0.0791999 3.3 0.99 3.3Z"
                                    fill="black" />
                            </svg>

                            <svg width="30" height="30" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20" r="20" fill="#C4C4C4" />
                                <path
                                    d="M34.8464 32.2593C32.7141 28.5317 29.2994 25.736 25.2589 24.4096C27.1946 23.2406 28.6986 21.4589 29.54 19.3382C30.3814 17.2175 30.5136 14.8751 29.9164 12.6708C29.3191 10.4665 28.0254 8.52207 26.234 7.1363C24.4425 5.75052 22.2524 5 20 5C17.7476 5 15.5575 5.75052 13.766 7.1363C11.9746 8.52207 10.6809 10.4665 10.0836 12.6708C9.48635 14.8751 9.61858 17.2175 10.46 19.3382C11.3014 21.4589 12.8054 23.2406 14.7411 24.4096C10.7007 25.7359 7.28595 28.5316 5.15362 32.259C5.07847 32.3908 5.02964 32.5364 5.00991 32.6874C4.99019 32.8384 4.99996 32.9919 5.03867 33.139C5.07738 33.2862 5.14427 33.4242 5.23553 33.5451C5.32678 33.6661 5.4406 33.7676 5.5705 33.8438C5.7004 33.9201 5.84383 33.9697 5.99261 33.9897C6.14138 34.0097 6.29258 33.9998 6.43757 33.9605C6.58257 33.9212 6.71852 33.8533 6.83766 33.7607C6.95681 33.6681 7.05681 33.5526 7.13197 33.4207C8.43652 31.1285 10.3124 29.2252 12.5712 27.9019C14.83 26.5786 17.3921 25.882 20.0001 25.882C22.6082 25.882 25.1703 26.5787 27.429 27.9021C29.6878 29.2254 31.5637 31.1288 32.8682 33.421C32.9433 33.5528 33.0433 33.6684 33.1625 33.761C33.2816 33.8536 33.4175 33.9215 33.5625 33.9608C33.7075 34 33.8587 34.01 34.0075 33.9899C34.1562 33.9699 34.2997 33.9203 34.4296 33.8441C34.5594 33.7678 34.6733 33.6663 34.7645 33.5454C34.8558 33.4244 34.9226 33.2864 34.9613 33.1393C35 32.9921 35.0098 32.8387 34.9901 32.6877C34.9704 32.5367 34.9215 32.3911 34.8464 32.2593ZM12.0008 15.4433C12.0008 13.8375 12.47 12.2678 13.3489 10.9326C14.2279 9.59743 15.4772 8.55679 16.9388 7.94228C18.4004 7.32777 20.0088 7.16698 21.5605 7.48026C23.1121 7.79353 24.5374 8.5668 25.6561 9.70226C26.7748 10.8377 27.5367 12.2844 27.8453 13.8593C28.154 15.4343 27.9955 17.0667 27.3901 18.5503C26.7847 20.0339 25.7594 21.3019 24.444 22.194C23.1285 23.0861 21.582 23.5623 19.9999 23.5623C17.8792 23.5599 15.846 22.7037 14.3464 21.1816C12.8468 19.6595 12.0033 17.5958 12.0008 15.4433V15.4433Z"
                                    fill="black" />
                            </svg>

                        </button>
                    </nav>
                </div>
            </div>
        </div>




        <div>
            <!-- container header -->

            <div class="container">


                <div class="row bio-profil">

                    <div class="col-12 col-lg-3">

                        <img src="/style/images/Ellipse 1.png" alt="">
                    </div>

                    <div class="col-12 col-lg-6 col-xl-7 text-white-profil">

                        <h3>{{Activity.name}}</h3>

                        <h4 class="text-white-profil">{{Activity.city}} - {{Activity.country}}</h4>

                        <p> By Billy Bob</p>

                    </div>


                    <class
                        class="d-flex flex-column justify-content-end col-sm-5 offset-sm-7 col-md-4 offset-md-8 offset-lg-0 col-lg-3 col-xl-2 text-white-profil">

                        <div class="d-grid">
                            <a href="profil.html" class="btn btn-primary">Ajouter la maps</a>
                        </div>

                        <div class="row">
                            <div class="offset-3 offset-sm-0 col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M-0.000244141 14.5782C-0.000244141 21.5385 5.05492 27.3263 11.6664 28.5V18.3885H8.16642V14.5H11.6664V11.3885C11.6664 7.8885 13.9216 5.94483 17.1113 5.94483C18.1216 5.94483 19.2113 6.1 20.2216 6.25517V9.83333H18.4331C16.7216 9.83333 16.3331 10.6885 16.3331 11.7782V14.5H20.0664L19.4446 18.3885H16.3331V28.5C22.9446 27.3263 27.9998 21.5397 27.9998 14.5782C27.9998 6.835 21.6998 0.5 13.9998 0.5C6.29976 0.5 -0.000244141 6.835 -0.000244141 14.5782Z"
                                        fill="#FFFFFF" />
                                </svg>
                            </div>
                            <div class="col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19.5003 14.5006C19.5003 15.6941 19.0262 16.8387 18.1823 17.6826C17.3384 18.5265 16.1938 19.0006 15.0003 19.0006C13.8069 19.0006 12.6623 18.5265 11.8184 17.6826C10.9744 16.8387 10.5003 15.6941 10.5003 14.5006C10.5003 14.2441 10.5273 13.9936 10.5738 13.7506H9.00034V19.7461C9.00034 20.1631 9.33784 20.5006 9.75484 20.5006H20.2473C20.4472 20.5002 20.6387 20.4205 20.7799 20.2791C20.9211 20.1376 21.0003 19.9459 21.0003 19.7461V13.7506H19.4268C19.4733 13.9936 19.5003 14.2441 19.5003 14.5006ZM15.0003 17.5006C15.3944 17.5005 15.7846 17.4228 16.1486 17.2719C16.5127 17.121 16.8434 16.8999 17.122 16.6212C17.4005 16.3424 17.6215 16.0116 17.7722 15.6475C17.9229 15.2834 18.0004 14.8932 18.0003 14.4991C18.0002 14.105 17.9225 13.7148 17.7716 13.3508C17.6207 12.9868 17.3996 12.656 17.1209 12.3775C16.8422 12.0989 16.5113 11.8779 16.1472 11.7272C15.7831 11.5765 15.3929 11.499 14.9988 11.4991C14.203 11.4993 13.4398 11.8156 12.8772 12.3785C12.3146 12.9414 11.9986 13.7047 11.9988 14.5006C11.999 15.2964 12.3154 16.0596 12.8783 16.6222C13.4412 17.1848 14.2045 17.5008 15.0003 17.5006ZM18.6003 11.3506H20.3988C20.5183 11.3506 20.6329 11.3032 20.7176 11.2189C20.8022 11.1345 20.8499 11.0201 20.8503 10.9006V9.10209C20.8503 8.98234 20.8028 8.8675 20.7181 8.78283C20.6334 8.69815 20.5186 8.65059 20.3988 8.65059H18.6003C18.4806 8.65059 18.3658 8.69815 18.2811 8.78283C18.1964 8.8675 18.1488 8.98234 18.1488 9.10209V10.9006C18.1503 11.1481 18.3528 11.3506 18.6003 11.3506ZM15.0003 0.100586C11.1812 0.100586 7.51853 1.61772 4.818 4.31825C2.11748 7.01877 0.600342 10.6815 0.600342 14.5006C0.600342 18.3197 2.11748 21.9824 4.818 24.6829C7.51853 27.3834 11.1812 28.9006 15.0003 28.9006C16.8914 28.9006 18.7639 28.5281 20.511 27.8045C22.2581 27.0808 23.8455 26.0201 25.1827 24.6829C26.5198 23.3458 27.5805 21.7583 28.3042 20.0112C29.0279 18.2641 29.4003 16.3916 29.4003 14.5006C29.4003 12.6096 29.0279 10.737 28.3042 8.98994C27.5805 7.24286 26.5198 5.65541 25.1827 4.31825C23.8455 2.98108 22.2581 1.92039 20.511 1.19672C18.7639 0.473053 16.8914 0.100586 15.0003 0.100586ZM22.5003 20.3341C22.5003 21.2506 21.7503 22.0006 20.8338 22.0006H9.16684C8.25034 22.0006 7.50034 21.2506 7.50034 20.3341V8.66709C7.50034 7.75059 8.25034 7.00059 9.16684 7.00059H20.8338C21.7503 7.00059 22.5003 7.75059 22.5003 8.66709V20.3341Z"
                                        fill="#ffffff" />
                                </svg>

                            </div>
                            <div class="col-2 col-sm-4">
                                <svg class="img-force-fluid" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.4998 0.0625C6.5269 0.0625 0.0622559 6.52715 0.0622559 14.5C0.0622559 22.4729 6.5269 28.9375 14.4998 28.9375C22.4726 28.9375 28.9373 22.4729 28.9373 14.5C28.9373 6.52715 22.4726 0.0625 14.4998 0.0625ZM21.4381 10.9454C21.4478 11.0969 21.4478 11.2548 21.4478 11.4095C21.4478 16.1403 17.8449 21.5898 11.261 21.5898C9.23071 21.5898 7.34868 21.0001 5.76313 19.985C6.05317 20.0172 6.33032 20.0301 6.62681 20.0301C8.30259 20.0301 9.84302 19.4629 11.0708 18.5025C9.49819 18.4703 8.1769 17.4391 7.72573 16.0211C8.27681 16.1017 8.7731 16.1017 9.34028 15.9566C8.53051 15.7921 7.80267 15.3523 7.28041 14.712C6.75815 14.0717 6.47369 13.2703 6.47534 12.4439V12.3988C6.94907 12.6663 7.50659 12.8307 8.08989 12.8532C7.59954 12.5264 7.1974 12.0837 6.91914 11.5643C6.64087 11.0448 6.49508 10.4648 6.49468 9.87549C6.49468 9.2084 6.6687 8.59932 6.9813 8.0708C7.88011 9.17726 9.00168 10.0822 10.2731 10.7268C11.5446 11.3714 12.9374 11.7413 14.3612 11.8123C13.8552 9.3792 15.6728 7.41016 17.8578 7.41016C18.889 7.41016 19.8171 7.84199 20.4713 8.53809C21.2802 8.38662 22.0537 8.08369 22.7433 7.67764C22.4758 8.50586 21.9151 9.20518 21.1707 9.64668C21.8925 9.56934 22.5886 9.36953 23.2332 9.08916C22.7465 9.80459 22.1375 10.4395 21.4381 10.9454Z"
                                        fill="#ffffff" />
                                </svg>
                            </div>
                        </div>

                    </class>

                </div>
            </div>
        </div>

    </header>


    <!--  /*****************************************
    FIN HEADER BAR NAV
    *****************************************/ -->

    <main>


        <!--  /*****************************************
        DEBUT MAIN
        *****************************************/ -->




        <!--  /*****************************************
        SECTION CONSEILS 4
        *****************************************/ -->

        <section class="section activites-conseils">
            <div class="container">


                <div class="row voyage-profil">

                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>À propos</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">
                        <img src="/style/images/BaptèmeAir.jpg" class="img-cover-fluid" alt="image matos">

                    </div>

                    <div class="col-12 col-lg-6">

                        <div class="col-10-offset-1 col-lg-11 offset-1">

                            <h4>{{Activity.name}}</h4>
                        </div>

                        <div class="col-10-offset-1 col-lg-11 offset-1">

                            <p class="col-10-offset-1 col-lg-11">{{Activity.description}}</p>

                        </div>

                    </div>


                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>Mes conseils</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">

                        <h4>Une expérience inédite</h4>

                        <p class="col-10-offset-1 col-lg-11">{{Activity.strongPoint}}</p>
                        <p class="col-10-offset-1 col-lg-11">{{Activity.weakPoint}}</p>


                    </div>





                    <div class="col-12 col-lg-6">
                        <img src="/style/images/Montgolfièreconseils.jpg" class="img-cover-fluid" alt="image matos">

                    </div>



                </div>

        </section>

        <!--  /*****************************************
    SECTION RENSEIGNEMENTS
    *****************************************/ -->

        <section class="section">
            <div class="container">


                <div class="row">

                    <div class="col-11-offset-1 col-lg-8">
                        <h2 class="gold-line-right titre-left"><span>Renseignements</span></h2>
                    </div>


                    <div class="col-12 col-lg-6">


                        <h4 class="col-10-offset-1 col-lg-11"> Quelques renseignements concernant <br>
                            l’activité du
                            baptème de l’air en Montgolfière.<h4>



                                <img src="/style/images/Montgolfièrerecco.jpg" class="col-sm-12 col-lg-11 " alt="image matos">

                    </div>


                    <div class="col-12 col-lg-6 group-pastille">
                        <!-- PASTILLE -->

                        <div class="row">

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Prix</h3>
                                <p>{{Activity.price}} €</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M60.7792 37.4026C47.8699 37.4026 37.4026 47.8699 37.4026 60.7792C37.4026 73.6885 47.8699 84.1558 60.7792 84.1558C73.6885 84.1558 84.1558 73.6885 84.1558 60.7792C84.1558 47.8699 73.6885 37.4026 60.7792 37.4026ZM60.7792 80.1902C50.0614 80.1902 41.3683 71.497 41.3683 60.7792C41.3683 50.0614 50.0614 41.3683 60.7792 41.3683C71.497 41.3683 80.1902 50.0614 80.1902 60.7792C80.1902 71.497 71.497 80.1902 60.7792 80.1902ZM66.9208 49.477C66.0911 49.2944 65.1258 49.1953 64.0352 49.1953C58.4676 49.1953 54.7002 52.1017 53.6723 57.017H52.013C51.7834 57.017 51.5955 57.2049 51.5955 57.4345V58.8538C51.5955 59.0834 51.7834 59.2712 52.013 59.2712H53.3905C53.3749 59.4851 53.3749 59.7095 53.3749 59.9391V61.8646H52.013C51.7834 61.8646 51.5955 62.0524 51.5955 62.282V63.7013C51.5955 63.9309 51.7834 64.1187 52.013 64.1187H53.5888C54.4863 69.295 58.3059 72.3632 64.0352 72.3632C65.1258 72.3632 66.0911 72.2745 66.9208 72.097C67.1139 72.0553 67.2547 71.8883 67.2547 71.69V69.4567C67.2547 69.1958 67.0147 68.9976 66.759 69.0497C65.992 69.1958 65.0945 69.2637 64.0561 69.2637C60.4818 69.2637 58.0815 67.3539 57.2832 64.1187H64.0979C64.3274 64.1187 64.5153 63.9309 64.5153 63.7013V62.282C64.5153 62.0524 64.3274 61.8646 64.0979 61.8646H56.9805V59.9861C56.9805 59.7408 56.9805 59.4956 56.9962 59.266H64.0874C64.317 59.266 64.5049 59.0781 64.5049 58.8486V57.4293C64.5049 57.1997 64.317 57.0118 64.0874 57.0118H57.3927C58.2902 54.0428 60.6435 52.2948 64.0509 52.2948C65.0893 52.2948 65.9868 52.373 66.7486 52.5243C66.8091 52.5367 66.8716 52.5355 66.9315 52.5208C66.9915 52.5061 67.0474 52.4782 67.0953 52.4393C67.1432 52.4004 67.1819 52.3513 67.2086 52.2956C67.2352 52.24 67.2492 52.1791 67.2495 52.1173V49.884C67.2495 49.6858 67.1139 49.5188 66.9208 49.477Z"
                                        fill="black" />
                                </svg>

                            </div>

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Horaire</h3>
                                <p>9h - 16h</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M60.7792 37.4026C73.6897 37.4026 84.1558 47.8687 84.1558 60.7792C84.1558 73.6897 73.6897 84.1558 60.7792 84.1558C47.8687 84.1558 37.4026 73.6897 37.4026 60.7792C37.4026 47.8687 47.8687 37.4026 60.7792 37.4026ZM60.7792 42.0779C50.4508 42.0779 42.0779 50.4508 42.0779 60.7792C42.0779 71.1077 50.4508 79.4805 60.7792 79.4805C71.1077 79.4805 79.4805 71.1077 79.4805 60.7792C79.4805 50.4508 71.1077 42.0779 60.7792 42.0779ZM60.7792 46.7532C61.9781 46.7532 62.9661 47.6557 63.1012 48.8183L63.1169 49.0909V59.811L69.4452 66.1392C70.358 67.0521 70.358 68.5323 69.4452 69.4452C68.6025 70.2878 67.2765 70.3526 66.3595 69.6396L66.1392 69.4452L59.1263 62.4322C58.761 62.0669 58.529 61.5931 58.4618 61.0865L58.4415 60.7792V49.0909C58.4415 47.7999 59.4881 46.7532 60.7792 46.7532Z"
                                        fill="black" />
                                </svg>

                            </div>

                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Localisation</h3>
                                <p>{{Activity.city}} - {{Activity.country}}</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path
                                        d="M32.7273 52.2078H79.4805M49.0909 38.1818V42.8571M60.7792 35.8441V42.8571M72.4676 38.1818V42.8571M77.1429 70.909V52.2078H44.4156V70.909C44.4156 72.769 45.1545 74.5528 46.4697 75.868C47.7849 77.1832 49.5686 77.922 51.4286 77.922H70.1299C71.9899 77.922 73.7736 77.1832 75.0888 75.868C76.404 74.5528 77.1429 72.769 77.1429 70.909Z"
                                        stroke="black" stroke-width="4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>


                            </div>




                            <div class="offset-2 offset-sm-12 col-8 col-sm-6 col-md-4">
                                <h3>Réservation</h3>
                                <p>{{ activityForm.getReservationTab(Activity.reservation) }}</p>

                                <svg width="90" height="90" viewBox="0 0 120 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="58.75" fill="white" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M62.4193 32.111C64.06 30.1421 67.2586 31.488 66.9979 34.0376L65.1658 51.9513H79.9956C82.1972 51.9513 83.4001 54.5192 81.9905 56.2105L56.022 87.3727C54.3813 89.3416 51.1829 87.9957 51.4436 85.4461L53.2757 67.5325H38.4459C36.2442 67.5325 35.0415 64.9645 36.451 63.2732L62.4193 32.111ZM43.9903 62.3388H57.8772C58.4927 62.3388 58.9733 62.8709 58.9107 63.483L57.4755 77.5159L74.4511 57.1452H60.5642C59.9487 57.1452 59.468 56.6128 59.5309 56.0007L60.9659 41.968L43.9903 62.3388Z"
                                        fill="black" />
                                </svg>

                            </div>


                            <div class="offset-2 offset-sm-0 col-8 col-sm-6 col-md-4">
                                <h3>Ambiance</h3>
                                <p>{{ activityForm.getAtmosphereTab(Activity.atmosphere) }}</p>
                                <svg width="90" height="90" viewBox="0 0 121 120" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60.5" cy="60" r="58.75" fill="white" />
                                    <circle cx="60.5" cy="60" r="58.75" stroke="#1A1A37" stroke-width="2.5" />
                                    <circle cx="60.5" cy="60" r="58.75" stroke="#C2B286" stroke-width="2.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M45.247 38.0904C45.7948 37.1733 47.1534 37.1733 47.7011 38.0904L50.8761 43.4069L57.0418 44.709C58.1054 44.9337 58.5252 46.1938 57.8001 46.9853L53.5968 51.5731L54.2323 57.6943C54.3419 58.7503 53.2428 59.5291 52.2469 59.1011L46.4741 56.6201L40.7012 59.1011C39.7053 59.5291 38.6062 58.7503 38.7159 57.6943L39.3513 51.5731L35.148 46.9853C34.4229 46.1938 34.8427 44.9337 35.9064 44.709L42.072 43.4069L45.247 38.0904ZM46.4741 40.4384L43.8462 44.8385C43.6456 45.1745 43.3094 45.4127 42.9198 45.495L37.8168 46.5727L41.2957 50.3699C41.5613 50.6597 41.6897 51.0452 41.6496 51.432L41.1236 56.4981L45.9014 54.4448C46.2663 54.288 46.6819 54.288 47.0466 54.4448L51.8245 56.4981L51.2986 51.432C51.2584 51.0452 51.3869 50.6597 51.6524 50.3699L55.1313 46.5727L50.0283 45.495C49.6387 45.4127 49.3026 45.1745 49.1018 44.8385L46.4741 40.4384Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M74.8573 38.0904C75.4051 37.1733 76.7637 37.1733 77.3114 38.0904L80.4865 43.4069L86.6521 44.709C87.7157 44.9337 88.1356 46.1938 87.4105 46.9853L83.2071 51.5731L83.8426 57.6943C83.9522 58.7503 82.8532 59.5291 81.8573 59.1011L76.0844 56.6201L70.3116 59.1011C69.3157 59.5291 68.2166 58.7503 68.3262 57.6943L68.9617 51.5731L64.7584 46.9853C64.0333 46.1938 64.4531 44.9337 65.5167 44.709L71.6823 43.4069L74.8573 38.0904ZM76.0844 40.4384L73.4566 44.8385C73.256 45.1745 72.9197 45.4127 72.5301 45.495L67.4272 46.5727L70.906 50.3699C71.1716 50.6597 71.3001 51.0452 71.2599 51.432L70.734 56.4981L75.5118 54.4448C75.8767 54.288 76.2922 54.288 76.657 54.4448L81.4349 56.4981L80.9089 51.432C80.8687 51.0452 80.9972 50.6597 81.2628 50.3699L84.7416 46.5727L79.6387 45.495C79.249 45.4127 78.9129 45.1745 78.7122 44.8385L76.0844 40.4384Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M59.2729 59.9087C59.8206 58.9915 61.1793 58.9915 61.7269 59.9087L64.902 65.2251L71.0676 66.5273C72.1313 66.7519 72.5511 68.012 71.826 68.8035L67.6227 73.3914L68.2581 79.5126C68.3678 80.5685 67.2687 81.3474 66.2728 80.9194L60.5 78.4384L54.7271 80.9194C53.7312 81.3474 52.6321 80.5685 52.7417 79.5126L53.3772 73.3914L49.1739 68.8035C48.4488 68.012 48.8686 66.7519 49.9322 66.5273L56.0979 65.2251L59.2729 59.9087ZM60.5 62.2566L57.8721 66.6567C57.6715 66.9927 57.3353 67.231 56.9456 67.3132L51.8427 68.3909L55.3215 72.1881C55.5872 72.4779 55.7156 72.8635 55.6754 73.2502L55.1495 78.3164L59.9273 76.263C60.2922 76.1063 60.7077 76.1063 61.0725 76.263L65.8504 78.3164L65.3245 73.2502C65.2843 72.8635 65.4127 72.4779 65.6783 72.1881L69.1572 68.3909L64.0542 67.3132C63.6646 67.231 63.3284 66.9927 63.1277 66.6567L60.5 62.2566Z"
                                        fill="black" stroke="black" stroke-width="0.5" />
                                </svg>

                            </div>



                        </div>


                    </div>

                </div>
            </div>

        </section>


        <!--  /*****************************************
    SECTION PROFILS
    *****************************************/ -->



        <section id="recommandation">
            <div class="container">


                <div class="col-11-offset-1 col-lg-8">
                    <h2 class="gold-line-right titre-left"><span>Recommandé par</span></h2>
                </div>

                <div class="row">

                    <div class="col-6 col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="/style/images/Billy.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Billy Bob</h5>
                                </p>
                                <a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="/style/images/Jessica.jpg" class="card-img-top" alt="image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Jessica Parker</h5>
                                </p><a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="/style/images/Robin.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Robin Cliff</h5>
                                </p>
                                <a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="card2">
                            <div class="zoom-effect">
                                <img src="/style/images/Christina.jpg" class="card-img-top" alt="image Christina Paredes">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Christina Paredes</h5>
                                </p><a href="profil.html" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>



        </section>


        </div>




        <section class="section section-maps">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-12">
                        <div class="text-section-center">
                            <h2 class="gold-line-left gold-line-right"><span>Voir sur la maps</span></h2>
                        </div>
                    </div>
                </div>
            </div>


            <div id="maps">
                <iframe class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20988.19935616296!2d2.358199188967246!3d48.8863325637333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b42c5006109d99%3A0xd53e4e155f0f81a3!2sFrance%20Vacances!5e0!3m2!1sfr!2sfr!4v1639489085503!5m2!1sfr!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </section>







    </main>


    <footer>

        <section>
            <div class="container">

                <div class="row">
                    <div class="col-12 col-lg-1">
                        <div>
                            <svg width="80" height="80" viewBox="0 0 82 82" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M38.9509 65.4463C24.396 44.346 21.6943 42.1805 21.6943 34.4258C21.6943 23.8036 30.3053 15.1927 40.9275 15.1927C51.5497 15.1927 60.1606 23.8036 60.1606 34.4258C60.1606 42.1805 57.459 44.346 42.9041 65.4463C41.9489 66.8261 39.9059 66.826 38.9509 65.4463Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M33.5847 54.7603C35.4823 57.4634 37.7192 60.6499 40.357 64.4739C40.6323 64.8706 41.2226 64.8707 41.498 64.4739C44.1358 60.6498 46.3727 57.4634 48.2703 54.7603C51.6484 49.9482 53.951 46.6681 55.5254 44.0503C56.7332 42.042 57.4478 40.5233 57.8718 39.0916C58.2919 37.673 58.451 36.2577 58.451 34.4258C58.451 24.7478 50.6055 16.9023 40.9275 16.9023C31.2495 16.9023 23.4039 24.7478 23.4039 34.4258C23.4039 36.2577 23.563 37.673 23.9831 39.0916C24.4071 40.5233 25.1218 42.042 26.3296 44.0503C27.9039 46.6681 30.2066 49.9482 33.5847 54.7603ZM32.2425 55.8243C34.1362 58.5221 36.355 61.683 38.9509 65.4463C39.9059 66.826 41.9489 66.8261 42.9041 65.4463C45.4999 61.683 47.7188 58.5221 49.6125 55.8243C58.3367 43.3958 60.1606 40.7974 60.1606 34.4258C60.1606 23.8036 51.5497 15.1927 40.9275 15.1927C30.3053 15.1927 21.6943 23.8036 21.6943 34.4258C21.6943 40.7974 23.5182 43.3958 32.2425 55.8243Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M32.245 55.8259C34.1387 58.5237 36.3575 61.6846 38.9534 65.4478C39.246 65.8705 39.6407 66.1637 40.0749 66.3274C40.5091 66.1637 40.9037 65.8705 41.1963 65.4478C43.7921 61.6846 46.011 58.5237 47.9047 55.8259C54.3276 46.6758 57.0104 42.8538 57.9789 38.9316C56.366 36.0239 54.3655 33.3704 52.0931 30.8202C51.0378 29.6358 50.0239 28.2442 48.9974 26.8353L48.9974 26.8353C45.946 22.6471 42.784 18.3071 38.0952 18.8108C34.0379 19.2468 32.0973 23.076 30.0951 27.0268C28.8769 29.4307 27.6358 31.8795 25.8813 33.6364C24.6761 34.8432 23.2457 35.7589 21.7881 36.6216C22.2465 41.582 24.5882 44.918 32.245 55.8259Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M48.9974 26.8354C45.946 22.6471 42.784 18.3071 38.0952 18.8108C34.0379 19.2468 32.0973 23.076 30.0951 27.0268C28.8769 29.4307 27.6358 31.8795 25.8813 33.6364C24.6761 34.8432 23.2457 35.7589 21.7881 36.6216C22.2465 41.582 24.5882 44.918 32.245 55.8259C34.1387 58.5237 36.3575 61.6846 38.9534 65.4478C39.246 65.8705 39.6407 66.1637 40.0749 66.3274C40.5091 66.1637 40.9037 65.8705 41.1963 65.4478C43.7921 61.6846 46.011 58.5237 47.9047 55.8259C54.3276 46.6758 57.0104 42.8538 57.9789 38.9316C56.366 36.0239 54.3655 33.3704 52.0931 30.8202C51.0378 29.6358 50.0239 28.2442 48.9974 26.8354ZM56.1436 39.1616C54.668 36.6221 52.8692 34.2609 50.8167 31.9575C49.7053 30.7102 48.6501 29.2619 47.6435 27.8803L47.6277 27.8586L47.6277 27.8586L47.6156 27.842L47.6156 27.842C46.0614 25.7088 44.6203 23.7443 43.0315 22.3475C41.4843 20.9873 39.9795 20.3278 38.2778 20.5107C36.8238 20.6669 35.6977 21.411 34.6431 22.6889C33.5446 24.02 32.6433 25.7806 31.6201 27.7996C31.5991 27.8411 31.578 27.8827 31.5569 27.9244C30.3841 30.2391 29.0392 32.8937 27.091 34.8445C26.0176 35.9193 24.8071 36.7704 23.6224 37.5093C24.2546 41.387 26.4985 44.6638 33.6443 54.8436L33.6448 54.8444C35.4687 57.4426 37.5974 60.4752 40.0749 64.0629C42.5521 60.4756 44.6806 57.4433 46.5043 54.8452L46.5054 54.8437C49.7299 50.25 51.9703 47.057 53.5315 44.5219C54.8917 42.313 55.6834 40.6854 56.1436 39.1616Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M60.0143 32.0266C60.1122 32.8133 60.1627 33.6148 60.1627 34.4281C60.1627 40.7997 58.3388 43.3981 49.6146 55.8266C47.7209 58.5244 45.502 61.6853 42.9062 65.4486C42.6622 65.801 42.3472 66.0634 41.9975 66.2358C41.5291 66.0192 41.1054 65.6605 40.7853 65.1596C37.7192 60.3459 35.0984 56.3026 32.8616 52.8518C31.3538 50.5255 30.0204 48.4684 28.8428 46.626C29.1464 46.1982 29.4485 45.7714 29.7472 45.3451L29.876 45.1612C33.8306 39.516 37.9614 33.6193 44.1651 31.3893C49.2796 29.5507 54.9177 30.03 60.0143 32.0266Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M29.7472 45.3451C29.4485 45.7714 29.1464 46.1982 28.8428 46.626C30.0204 48.4684 31.3538 50.5255 32.8616 52.8518C35.0984 56.3026 37.7192 60.3459 40.7853 65.1596C41.1054 65.6605 41.5291 66.0192 41.9975 66.2358C42.3472 66.0634 42.6622 65.801 42.9062 65.4486C45.502 61.6855 47.7207 58.5246 49.6144 55.8269L49.6146 55.8266C58.3388 43.3981 60.1627 40.7997 60.1627 34.4281C60.1627 33.6148 60.1122 32.8133 60.0143 32.0266C54.9177 30.03 49.2796 29.5507 44.1651 31.3893C37.9614 33.6193 33.8306 39.516 29.876 45.1612L29.7472 45.3451ZM58.4148 33.2584C53.8907 31.6919 49.0734 31.4416 44.7435 32.9981C39.1461 35.0102 35.314 40.3782 31.2762 46.1421L31.2762 46.1421L31.1474 46.326L31.1474 46.326C31.0663 46.4418 30.985 46.5575 30.9035 46.6732C31.9205 48.2567 33.0472 49.9949 34.2962 51.9219L34.297 51.9231C36.4674 55.2716 39.0026 59.1828 41.9561 63.8156C44.3603 60.3362 46.4328 57.3837 48.2144 54.8457L48.2153 54.8444C52.612 48.5809 55.1613 44.9419 56.6407 42.0726C58.0502 39.3388 58.4531 37.3691 58.4531 34.4281C58.4531 34.0348 58.4402 33.6448 58.4148 33.2584Z"
                                    fill="black" />
                                <path
                                    d="M49.478 34.1704C49.478 38.8914 45.6509 42.7185 40.9299 42.7185C36.2089 42.7185 32.3818 38.8914 32.3818 34.1704C32.3818 29.4495 36.2089 25.6224 40.9299 25.6224C45.6509 25.6224 49.478 29.4495 49.478 34.1704Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M40.9299 41.0089C44.7067 41.0089 47.7683 37.9472 47.7683 34.1704C47.7683 30.3937 44.7067 27.332 40.9299 27.332C37.1531 27.332 34.0914 30.3937 34.0914 34.1704C34.0914 37.9472 37.1531 41.0089 40.9299 41.0089ZM40.9299 42.7185C45.6509 42.7185 49.478 38.8914 49.478 34.1704C49.478 29.4495 45.6509 25.6224 40.9299 25.6224C36.2089 25.6224 32.3818 29.4495 32.3818 34.1704C32.3818 38.8914 36.2089 42.7185 40.9299 42.7185Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M32.24 55.826C34.1337 58.5238 36.3525 61.6847 38.9484 65.4479C39.9034 66.8276 41.9464 66.8277 42.9016 65.4479C45.4974 61.6847 47.7163 58.5238 49.61 55.826C52.5251 51.673 54.6699 48.6176 56.2336 46.1523C55.8578 46.0352 55.4793 45.9201 55.1 45.8047C52.8783 45.1288 50.6276 44.4441 48.7126 43.2991C47.0232 42.2889 45.5655 40.8343 44.1267 39.3986C41.7294 37.0064 39.3847 34.6667 36.1081 34.5224C31.0492 34.2996 26.7611 38.0804 23.1318 41.6907C24.5676 44.8959 27.2956 48.7823 32.24 55.826Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M33.6402 54.8451C35.5334 57.5422 37.7552 60.7073 40.3545 64.4756C40.6297 64.8722 41.2198 64.8723 41.4952 64.4758C44.0947 60.7074 46.3166 57.5421 48.2099 54.8449L48.2107 54.8438C50.4231 51.692 52.1733 49.1982 53.56 47.1214C51.6602 46.5326 49.6289 45.8389 47.8352 44.7664C45.9637 43.6473 44.3797 42.0664 42.9879 40.6774L42.9191 40.6087C40.4064 38.1014 38.5302 36.3403 36.0329 36.2303C33.9689 36.1394 31.9781 36.858 29.9995 38.1129C28.3259 39.1743 26.7384 40.5692 25.2035 42.0527C26.6661 44.8986 29.2124 48.5372 33.6393 54.8438L33.6402 54.8451ZM23.1318 41.6907C26.7611 38.0804 31.0492 34.2996 36.1081 34.5224C39.3847 34.6667 41.7294 37.0064 44.1267 39.3986C45.5655 40.8343 47.0232 42.2889 48.7126 43.2991C50.4659 44.3474 52.5006 45.0099 54.5367 45.633C54.7245 45.6905 54.9124 45.7476 55.1 45.8047C55.4793 45.9201 55.8578 46.0352 56.2336 46.1523C55.933 46.6261 55.611 47.1218 55.2662 47.6428C53.817 49.8327 51.9649 52.4712 49.61 55.826L49.6098 55.8262C47.7162 58.5239 45.4974 61.6848 42.9016 65.4479C41.9464 66.8277 39.9034 66.8276 38.9484 65.4479C36.3525 61.6847 34.1337 58.5238 32.24 55.826C27.2956 48.7823 24.5676 44.8959 23.1318 41.6907Z"
                                    fill="black" />
                                <path
                                    d="M32.1709 81.4271L35.4934 72.2444L33.6029 71.5603L31.2715 78.0036L31.2458 77.9943L31.3265 70.7367L29.7703 70.1736L25.165 75.8669L25.1393 75.8576L27.4939 69.3499L25.6034 68.6659L22.2808 77.8486L25.1231 78.877L29.44 73.2975L29.4657 73.3068L29.3286 80.3987L32.1709 81.4271Z"
                                    fill="#000000" />
                                <path
                                    d="M18.6448 67.9719L15.299 69.7786L15.2787 69.7603L16.767 66.276L18.6448 67.9719ZM14.4773 72.2801L23.7631 67.5082L22.1594 66.0597L20.1335 67.1602L17.4234 64.7126L18.3329 62.6037L16.6785 61.1095L12.8432 70.8041L14.4773 72.2801Z"
                                    fill="#000000" />
                                <path
                                    d="M6.81934 63.9271L15.4349 59.3299L14.424 57.4355L11.6487 58.9163L9.97118 58.4163L12.4603 53.7552L11.1919 51.378L7.9493 57.8519L2.75016 56.301L4.01212 58.666L9.38019 60.1268L5.80848 62.0326L6.81934 63.9271Z"
                                    fill="#000000" />
                                <path
                                    d="M1.13965 50.8802L10.7888 49.3783L9.64869 42.0536L7.86482 42.3313L8.67466 47.5342L6.30967 47.9023L5.58187 43.2264L3.93314 43.4831L4.66095 48.159L2.59328 48.4808L1.80027 43.386L0.016394 43.6636L1.13965 50.8802Z"
                                    fill="#000000" />
                                <path
                                    d="M7.77016 30.3248L11.3462 31.6165L12.0757 29.597L8.55109 28.3239L4.12245 22.8706L3.30933 25.1217L6.16554 28.5674L1.7621 29.4053L0.944336 31.6693L7.77016 30.3248Z"
                                    fill="#000000" />
                                <path
                                    d="M11.7584 19.9976C11.4315 19.7205 11.1444 19.4175 10.8973 19.0886C10.6561 18.7527 10.4851 18.4045 10.3841 18.0441C10.2763 17.6778 10.2618 17.307 10.3408 16.9317C10.4129 16.5505 10.6051 16.1756 10.9175 15.807C11.23 15.4383 11.5683 15.1872 11.9325 15.0536C12.2897 14.9141 12.6578 14.8676 13.0369 14.9139C13.409 14.9543 13.7775 15.0695 14.1425 15.2593C14.5135 15.4422 14.8624 15.6721 15.1893 15.9492C15.5023 16.2145 15.776 16.5121 16.0102 16.8421C16.2434 17.1593 16.4105 17.498 16.5114 17.8585C16.6123 18.2189 16.6268 18.5897 16.5547 18.9708C16.4757 19.3461 16.28 19.7181 15.9676 20.0867C15.6551 20.4554 15.3203 20.7095 14.9631 20.849C14.5989 20.9825 14.2307 21.0291 13.8586 20.9887C13.4865 20.9482 13.122 20.8424 12.765 20.6714C12.407 20.4874 12.0714 20.2628 11.7584 19.9976ZM10.3701 21.6357C10.9127 22.0955 11.4912 22.4424 12.1057 22.6763C12.7132 22.9043 13.3235 23.0092 13.9366 22.9909C14.5497 22.9727 15.1487 22.8229 15.7336 22.5418C16.3174 22.2477 16.851 21.8155 17.3344 21.2451C17.8237 20.6678 18.1625 20.0705 18.351 19.4533C18.5324 18.8302 18.5819 18.2148 18.4994 17.607C18.4168 16.9992 18.2133 16.4144 17.8887 15.8525C17.5572 15.2847 17.1201 14.7709 16.5776 14.3111C16.0211 13.8395 15.4356 13.4867 14.8211 13.2528C14.1997 13.013 13.579 12.8993 12.9589 12.9116C12.3389 12.924 11.7364 13.0708 11.1515 13.352C10.5666 13.6331 10.0295 14.0624 9.54025 14.6397C9.05686 15.2101 8.72149 15.8104 8.53414 16.4404C8.35269 17.0635 8.3067 17.6819 8.39618 18.2955C8.48566 18.9092 8.69964 19.5029 9.03812 20.0766C9.36964 20.6444 9.81364 21.1641 10.3701 21.6357Z"
                                    fill="#000000" />
                                <path
                                    d="M28.0581 8.53176L25.1688 3.19062L23.2802 4.21228L26.1694 9.55342C26.5165 10.195 26.6441 10.7376 26.5524 11.1812C26.4563 11.6167 26.0714 12.0167 25.3977 12.3811C25.0128 12.5893 24.6758 12.7042 24.3868 12.7258C24.1015 12.735 23.8492 12.6901 23.6298 12.5911C23.406 12.4841 23.2133 12.3291 23.0518 12.1263C22.8902 11.9234 22.7465 11.7057 22.6207 11.4731L19.7314 6.13196L17.8428 7.15363L20.7321 12.4948C21.3654 13.6657 22.1508 14.3604 23.088 14.5791C24.0333 14.7934 25.0873 14.586 26.2502 13.957C27.397 13.3366 28.1434 12.57 28.4893 11.6573C28.8309 10.7365 28.6871 9.69462 28.0581 8.53176Z"
                                    fill="#000000" />
                                <path
                                    d="M34.1067 5.2455L33.7246 2.52314L36.0542 2.19612C36.5418 2.12768 36.9227 2.1847 37.1969 2.36718C37.4698 2.54064 37.6393 2.86213 37.7052 3.33166C37.7736 3.81924 37.7011 4.1885 37.4878 4.43943C37.2744 4.69036 36.9239 4.85004 36.4363 4.91849L34.1067 5.2455ZM31.3662 1.16925L32.7237 10.8397L34.8501 10.5413L34.3197 6.76244L36.4461 6.46395C36.9788 6.38917 37.3791 6.45268 37.6468 6.65449C37.9145 6.8563 38.12 7.20496 38.2632 7.70047C38.3719 8.08112 38.4695 8.48174 38.5562 8.90232C38.6429 9.3229 38.7664 9.67845 38.9269 9.96898L41.0533 9.67048C40.935 9.54898 40.8354 9.39723 40.7546 9.21522C40.6816 9.02291 40.6163 8.8203 40.5588 8.6074C40.5103 8.39323 40.467 8.18294 40.4288 7.97653C40.3906 7.77012 40.3563 7.5908 40.3257 7.43856C40.2734 7.1973 40.2031 6.95858 40.1147 6.72239C40.0353 6.48494 39.9275 6.27449 39.7913 6.09105C39.6538 5.89859 39.4891 5.74216 39.2972 5.62177C39.1041 5.49235 38.8716 5.40991 38.5996 5.37443L38.5958 5.34734C39.1071 5.05458 39.451 4.68405 39.6275 4.23574C39.813 3.78617 39.8658 3.27696 39.786 2.7081C39.734 2.3379 39.6181 2.00429 39.4383 1.70727C39.2663 1.39996 39.0367 1.14215 38.7497 0.933842C38.4717 0.72427 38.1471 0.57648 37.7759 0.490472C37.4125 0.394166 37.0141 0.376432 36.5807 0.437272L31.3662 1.16925Z"
                                    fill="#000000" />
                                <path
                                    d="M52.5621 6.91856C52.7301 6.52433 52.9347 6.16055 53.1759 5.82724C53.4255 5.4975 53.7075 5.23114 54.022 5.02818C54.34 4.81683 54.6899 4.69341 55.0718 4.65793C55.4572 4.61406 55.8722 4.68686 56.3168 4.87633C56.7613 5.06581 57.1012 5.31475 57.3365 5.62317C57.5754 5.9232 57.7287 6.26112 57.7965 6.63692C57.8679 7.00433 57.8668 7.39044 57.7934 7.79526C57.7284 8.20365 57.6119 8.60496 57.4438 8.99919C57.283 9.37664 57.0795 9.72605 56.8335 10.0474C56.5995 10.3639 56.3253 10.6237 56.0108 10.8267C55.6963 11.0296 55.3464 11.153 54.961 11.1969C54.5791 11.2324 54.1659 11.1554 53.7213 10.9659C53.2768 10.7765 52.9351 10.5317 52.6962 10.2317C52.461 9.92325 52.3076 9.58533 52.2363 9.21792C52.1649 8.85051 52.1581 8.471 52.216 8.07938C52.2859 7.68295 52.4012 7.29601 52.5621 6.91856ZM50.5868 6.07665C50.3079 6.73091 50.1476 7.38612 50.1058 8.0423C50.0676 8.69008 50.1478 9.30411 50.3465 9.88438C50.5452 10.4646 50.8654 10.9926 51.3069 11.4682C51.7604 11.939 52.3311 12.321 53.0189 12.6141C53.7151 12.9109 54.3858 13.058 55.0311 13.0555C55.68 13.0446 56.2825 12.9099 56.8387 12.6514C57.3949 12.3929 57.8935 12.0255 58.3343 11.5493C58.7787 11.0648 59.1403 10.4953 59.4192 9.84109C59.7052 9.17007 59.8691 8.50646 59.9109 7.85029C59.9562 7.18573 59.8813 6.55912 59.6862 5.97046C59.4911 5.38181 59.1727 4.84967 58.7312 4.37405C58.2897 3.89843 57.7208 3.51226 57.0246 3.21553C56.3368 2.92239 55.6643 2.77946 55.007 2.78676C54.3581 2.79764 53.7538 2.93653 53.194 3.20344C52.6342 3.47035 52.1303 3.85028 51.6824 4.34324C51.238 4.82782 50.8728 5.40562 50.5868 6.07665Z"
                                    fill="#000000" />
                                <path
                                    d="M66.2888 22.5184L75.2016 17.7416L73.7587 16.2072L67.7605 19.6512L67.7417 19.6313L71.5007 13.806L70.1234 12.3414L64.1193 15.6594L64.1006 15.6395L67.8841 9.96008L66.4131 8.39581L61.07 16.9687L62.5597 18.5529L68.5169 15.185L68.5357 15.2049L64.8271 20.9641L66.2888 22.5184Z"
                                    fill="#000000" />
                                <path
                                    d="M77.999 23.0989L68.8318 26.4638L69.5245 28.3512L75.6617 26.0985L75.6711 26.1242L70.9336 32.1902L71.6735 34.2059L80.8408 30.841L80.148 28.9537L73.998 31.2111L73.9886 31.1854L78.7342 25.1019L77.999 23.0989Z"
                                    fill="#000000" />
                                <path
                                    d="M77.268 45.8336L79.9725 46.3264L79.5508 48.6407C79.4626 49.1251 79.2887 49.4688 79.0293 49.6717C78.7789 49.8763 78.4204 49.9361 77.954 49.8512C77.4696 49.7629 77.1418 49.578 76.9707 49.2966C76.7995 49.0152 76.7581 48.6323 76.8463 48.1479L77.268 45.8336ZM81.999 44.513L72.3919 42.7624L72.007 44.8749L75.761 45.559L75.3761 47.6715C75.2797 48.2007 75.0936 48.5607 74.8179 48.7514C74.5421 48.9422 74.1466 49.0276 73.6312 49.0079C73.2356 48.9914 72.8246 48.9582 72.3981 48.9083C71.9716 48.8584 71.5952 48.864 71.269 48.925L70.8841 51.0375C71.0366 50.9633 71.212 50.9165 71.4101 50.897C71.6157 50.8881 71.8285 50.8898 72.0487 50.9022C72.2673 50.9234 72.4805 50.9484 72.6885 50.977C72.8964 51.0056 73.0775 51.0294 73.2316 51.0482C73.477 51.0744 73.7258 51.0826 73.9778 51.0729C74.2282 51.0722 74.4618 51.036 74.6788 50.9643C74.9047 50.8943 75.105 50.7871 75.2795 50.6428C75.4631 50.5002 75.6144 50.3053 75.7336 50.0583L75.7605 50.0632C75.8777 50.6406 76.1214 51.0835 76.4915 51.3919C76.86 51.7093 77.3269 51.9195 77.892 52.0225C78.2598 52.0895 78.6129 52.0843 78.9514 52.007C79.2972 51.9402 79.6141 51.8034 79.902 51.5963C80.1883 51.3983 80.4307 51.1366 80.629 50.8112C80.8346 50.4965 80.9766 50.1239 81.0551 49.6933L81.999 44.513Z"
                                    fill="#000000" />
                                <path
                                    d="M73.2283 57.4465C73.5943 57.6694 73.9249 57.9241 74.2202 58.2106C74.5107 58.5049 74.7338 58.8223 74.8895 59.1626C75.053 59.5077 75.1249 59.8718 75.1052 60.2548C75.0932 60.6425 74.9616 61.0427 74.7103 61.4555C74.4589 61.8682 74.1637 62.1689 73.8247 62.3574C73.4935 62.5507 73.1371 62.6539 72.7555 62.6671C72.3816 62.685 71.9996 62.6285 71.6096 62.4977C71.2147 62.3747 70.8343 62.2018 70.4683 61.9789C70.1179 61.7655 69.8013 61.514 69.5186 61.2244C69.2389 60.9474 69.0212 60.6387 68.8655 60.2983C68.7098 59.958 68.6379 59.5939 68.6498 59.2062C68.6696 58.8232 68.8051 58.4253 69.0564 58.0126C69.3078 57.5998 69.599 57.2968 69.9303 57.1035C70.2693 56.915 70.6257 56.8118 70.9995 56.7939C71.3734 56.776 71.7499 56.8238 72.1292 56.9373C72.5115 57.0634 72.8779 57.2331 73.2283 57.4465ZM74.3451 55.6125C73.7377 55.2426 73.1123 54.9899 72.4689 54.8543C71.8333 54.7235 71.2141 54.7147 70.6113 54.828C70.0085 54.9414 69.4401 55.1824 68.906 55.5511C68.375 55.9323 67.915 56.4421 67.5261 57.0807C67.1325 57.7271 66.8906 58.3698 66.8004 59.0088C66.718 59.6525 66.7648 60.2681 66.9408 60.8557C67.1168 61.4433 67.4088 61.9893 67.8167 62.494C68.2325 63.0034 68.7441 63.443 69.3515 63.8129C69.9745 64.1923 70.6077 64.4498 71.2511 64.5853C71.9022 64.7256 72.5331 64.7415 73.1437 64.6329C73.7542 64.5243 74.3266 64.2857 74.8607 63.917C75.3948 63.5484 75.8586 63.0408 76.2522 62.3945C76.6411 61.7559 76.8791 61.1108 76.9662 60.4593C77.0486 59.8156 76.998 59.1976 76.8142 58.6053C76.6304 58.013 76.3268 57.4598 75.9032 56.9456C75.4875 56.4363 74.9681 55.9919 74.3451 55.6125Z"
                                    fill="#000000" />
                                <path
                                    d="M63.5886 67.8162L64.7889 71.4242L64.7673 71.441L61.5932 69.372L63.5886 67.8162ZM67.1103 72.6665L64.0178 62.6948L62.3137 64.0236L63.0468 66.2095L60.1671 68.4549L58.2475 67.1941L56.4894 68.5649L65.3738 74.0205L67.1103 72.6665Z"
                                    fill="#000000" />
                                <path
                                    d="M53.0501 71.8733L54.9335 77.7326L53.4752 78.2014C52.9717 78.3632 52.527 78.4248 52.141 78.386C51.7492 78.3588 51.4058 78.2441 51.111 78.0419C50.8162 77.8398 50.564 77.5617 50.3544 77.2077C50.1389 76.8651 49.9558 76.4595 49.8052 75.9907C49.6405 75.4786 49.5661 75.0236 49.5819 74.6259C49.5977 74.2281 49.6779 73.8815 49.8223 73.5861C49.9696 73.2993 50.1668 73.0635 50.4138 72.8787C50.6609 72.694 50.932 72.5541 51.2272 72.4593L53.0501 71.8733ZM57.5303 78.7943L54.5419 69.4974L50.5315 70.7866C49.8197 71.0154 49.241 71.3307 48.7955 71.7325C48.3441 72.1457 48.0118 72.6165 47.7985 73.1448C47.5766 73.6758 47.4709 74.2557 47.4814 74.8844C47.492 75.5132 47.6061 76.1661 47.8237 76.8431C48.072 77.6157 48.3968 78.2536 48.798 78.7567C49.1905 79.2627 49.6391 79.6452 50.1438 79.9044C50.6398 80.1663 51.1789 80.3091 51.7612 80.3327C52.3347 80.359 52.9209 80.2759 53.5199 80.0834L57.5303 78.7943Z"
                                    fill="#000000" />
                            </svg>
                        </div>
                    </div>


                    <div class="col-12 col-lg-3">
                        <div>
                            <h6> Make Your Own Road</h2>
                                <h4>Créer vos propres aventures avec MYOR</h4>

                        </div>
                    </div>

                    <div class="col-12 col-lg-1">

                        <div class="ligne_verticale"></div>

                    </div>

                    <div class="col-12 col-lg-2">
                        <div class="liste-footer">
                            <ul>
                                <li class="text-footer"><a href="#" class="text-footer">Assistance</a></li> <br>
                                <li class="text-footer"><a href="#" class="text-footer">Centre d'aide</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Mesures covid-19</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Informations sécurité</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Service client</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">FAQ</a></li>
                                <h6>© 2010 — 2020</h6>
                            </ul>
                        </div>
                    </div>


                    <div class="col-12 col-lg-2">
                        <div class="liste-footer">
                            <ul>
                                <li class="text-footer"><a href="#" class="text-footer">A propos</a></li> <br>
                                <li class="text-footer"><a href="#" class="text-footer">Qui sommes-nous</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Communauté</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Infos sur l'entreprise</a></li>
                                <li class="text-footer"><a href="#" class="text-footer">Politique de confidentialité</a>
                                </li>
                                <li class="text-footer"><a href="#" class="text-footer">Politique de cookies</a></li>
                                <h6>Privacy — Terms</h6>
                            </ul>
                        </div>
                    </div>


                    <div class="col-12 col-lg-3">
                        <div class="reseau">
                            <svg width="28" height="29" viewBox="0 0 28 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M-0.000244141 14.5782C-0.000244141 21.5385 5.05492 27.3263 11.6664 28.5V18.3885H8.16642V14.5H11.6664V11.3885C11.6664 7.8885 13.9216 5.94483 17.1113 5.94483C18.1216 5.94483 19.2113 6.1 20.2216 6.25517V9.83333H18.4331C16.7216 9.83333 16.3331 10.6885 16.3331 11.7782V14.5H20.0664L19.4446 18.3885H16.3331V28.5C22.9446 27.3263 27.9998 21.5397 27.9998 14.5782C27.9998 6.835 21.6998 0.5 13.9998 0.5C6.29976 0.5 -0.000244141 6.835 -0.000244141 14.5782Z"
                                    fill="#3D3E41" />
                            </svg>

                            <svg width="30" height="29" viewBox="0 0 30 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.5003 14.5006C19.5003 15.6941 19.0262 16.8387 18.1823 17.6826C17.3384 18.5265 16.1938 19.0006 15.0003 19.0006C13.8069 19.0006 12.6623 18.5265 11.8184 17.6826C10.9744 16.8387 10.5003 15.6941 10.5003 14.5006C10.5003 14.2441 10.5273 13.9936 10.5738 13.7506H9.00034V19.7461C9.00034 20.1631 9.33784 20.5006 9.75484 20.5006H20.2473C20.4472 20.5002 20.6387 20.4205 20.7799 20.2791C20.9211 20.1376 21.0003 19.9459 21.0003 19.7461V13.7506H19.4268C19.4733 13.9936 19.5003 14.2441 19.5003 14.5006ZM15.0003 17.5006C15.3944 17.5005 15.7846 17.4228 16.1486 17.2719C16.5127 17.121 16.8434 16.8999 17.122 16.6212C17.4005 16.3424 17.6215 16.0116 17.7722 15.6475C17.9229 15.2834 18.0004 14.8932 18.0003 14.4991C18.0002 14.105 17.9225 13.7148 17.7716 13.3508C17.6207 12.9868 17.3996 12.656 17.1209 12.3775C16.8422 12.0989 16.5113 11.8779 16.1472 11.7272C15.7831 11.5765 15.3929 11.499 14.9988 11.4991C14.203 11.4993 13.4398 11.8156 12.8772 12.3785C12.3146 12.9414 11.9986 13.7047 11.9988 14.5006C11.999 15.2964 12.3154 16.0596 12.8783 16.6222C13.4412 17.1848 14.2045 17.5008 15.0003 17.5006ZM18.6003 11.3506H20.3988C20.5183 11.3506 20.6329 11.3032 20.7176 11.2189C20.8022 11.1345 20.8499 11.0201 20.8503 10.9006V9.10209C20.8503 8.98234 20.8028 8.8675 20.7181 8.78283C20.6334 8.69815 20.5186 8.65059 20.3988 8.65059H18.6003C18.4806 8.65059 18.3658 8.69815 18.2811 8.78283C18.1964 8.8675 18.1488 8.98234 18.1488 9.10209V10.9006C18.1503 11.1481 18.3528 11.3506 18.6003 11.3506ZM15.0003 0.100586C11.1812 0.100586 7.51853 1.61772 4.818 4.31825C2.11748 7.01877 0.600342 10.6815 0.600342 14.5006C0.600342 18.3197 2.11748 21.9824 4.818 24.6829C7.51853 27.3834 11.1812 28.9006 15.0003 28.9006C16.8914 28.9006 18.7639 28.5281 20.511 27.8045C22.2581 27.0808 23.8455 26.0201 25.1827 24.6829C26.5198 23.3458 27.5805 21.7583 28.3042 20.0112C29.0279 18.2641 29.4003 16.3916 29.4003 14.5006C29.4003 12.6096 29.0279 10.737 28.3042 8.98994C27.5805 7.24286 26.5198 5.65541 25.1827 4.31825C23.8455 2.98108 22.2581 1.92039 20.511 1.19672C18.7639 0.473053 16.8914 0.100586 15.0003 0.100586ZM22.5003 20.3341C22.5003 21.2506 21.7503 22.0006 20.8338 22.0006H9.16684C8.25034 22.0006 7.50034 21.2506 7.50034 20.3341V8.66709C7.50034 7.75059 8.25034 7.00059 9.16684 7.00059H20.8338C21.7503 7.00059 22.5003 7.75059 22.5003 8.66709V20.3341Z"
                                    fill="#3D3E41" />
                            </svg>

                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.4998 0.0625C6.5269 0.0625 0.0622559 6.52715 0.0622559 14.5C0.0622559 22.4729 6.5269 28.9375 14.4998 28.9375C22.4726 28.9375 28.9373 22.4729 28.9373 14.5C28.9373 6.52715 22.4726 0.0625 14.4998 0.0625ZM21.4381 10.9454C21.4478 11.0969 21.4478 11.2548 21.4478 11.4095C21.4478 16.1403 17.8449 21.5898 11.261 21.5898C9.23071 21.5898 7.34868 21.0001 5.76313 19.985C6.05317 20.0172 6.33032 20.0301 6.62681 20.0301C8.30259 20.0301 9.84302 19.4629 11.0708 18.5025C9.49819 18.4703 8.1769 17.4391 7.72573 16.0211C8.27681 16.1017 8.7731 16.1017 9.34028 15.9566C8.53051 15.7921 7.80267 15.3523 7.28041 14.712C6.75815 14.0717 6.47369 13.2703 6.47534 12.4439V12.3988C6.94907 12.6663 7.50659 12.8307 8.08989 12.8532C7.59954 12.5264 7.1974 12.0837 6.91914 11.5643C6.64087 11.0448 6.49508 10.4648 6.49468 9.87549C6.49468 9.2084 6.6687 8.59932 6.9813 8.0708C7.88011 9.17726 9.00168 10.0822 10.2731 10.7268C11.5446 11.3714 12.9374 11.7413 14.3612 11.8123C13.8552 9.3792 15.6728 7.41016 17.8578 7.41016C18.889 7.41016 19.8171 7.84199 20.4713 8.53809C21.2802 8.38662 22.0537 8.08369 22.7433 7.67764C22.4758 8.50586 21.9151 9.20518 21.1707 9.64668C21.8925 9.56934 22.5886 9.36953 23.2332 9.08916C22.7465 9.80459 22.1375 10.4395 21.4381 10.9454Z"
                                    fill="#3D3E41" />
                            </svg>

                        </div>
                    </div>
                </div>

            </div>

        </section>


    </footer>



</body>



{% endblock %}
